{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "utils": "./utils",
          "components": "./components",
          "pages": "./pages"
        }
      }
    ]
  ]
}
